<template name='home'>
  <div class='splash'>
    <span id='hero'></span>
  </div>
  <div class='intro'>
    <p><strong>Crowd source the DJ with lastSet.io!</strong> Create, share and collaborate on playlists with your friends all in real time. Just login and click the plus sign to create your first playlist.  Use the friends tab to collaborate on your friend's playlists.  Click the tune-in button to see the current song's info as it plays. Hookup your Soundcloud and Rdio accounts for easy access to your favorite tracks.</p>
  </div>
</template>
