<template name='about'>
  <div class="row">
      <div class="col-lg-12 underline">
          <h1 class="page-header">About</h1>
      </div>
  </div>
  <p>This app was made by Alex Haines, a recent graduate of Makersquare development bootcamp. You can follow me on twitter <a href='https://twitter.com/hainessss' target="blank">@hainessss</a>.  If you have bugs or suggestions to report please do so by github(hainessss) or by email(hainesaxiv@gmail.com). Please tweet me with feature suggestions!</p>

  <p><strong>Usage notes:</strong> The tune-in feature is unidirectional. You can only follow along with the songs on the admins playlist; the assumption being that the admin has their device plugged into the sound system. In addition, you must have a paid Rdio account to unlock the channel within the app. If you add Rdio songs to a collaborative playlist and the shared users do not have a paid Rdio account, they will only be able to listen to 30 second clips as per the Rdio API's restrictions(weak, I know).</p>

  <p>Big thanks to the Meteor Stackoverflow community for all the help!</p>
</template>
