<template name="footer">
  <div class='row'>
    <div class="artwork">
      {{#if nowPlaying}}
        <img id="album-art" src="{{nowPlaying.artwork_url}}" />
      {{else}}
        <img id="album-art" src="{{albumArt}}" />
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 footer">
      {{#if nowPlaying}}
        <div id='progress' style="width: {{nowPlayingTrackPosition}}"></div>
      {{else}}
        <div id='progress' style="width: {{progress}}"></div>
      {{/if}}
      <div class="player">
        <div class='footer-track-info'>
          <strong>{{playingTrack.artist}}</strong><br>{{playingTrack.name}}
        </div>
        <div class="controls">
          <span id="backward"></span>
          {{#if playing}}
            <span id='pause'></span>
          {{else}}
            <span id="play"></span>
          {{/if}}
          <span id="forward"></span>
        </div>
      </div>
    </div>
  </div>
</template>
