<template name="track">
<li class='track btn-embossed owned'>
    <a class='track-link' href="#">
      <span class='logo-track'></span>
      <div class='track-info'>
        <span class='artist'>
          {{artist}}
        </span><br>
        <span class='name'>
          {{name}}
        </span>
      </div>
    </a>
    <div class="track-drop dropdown-test">
    <ul class="nav navbar-right">

        <!-- /.dropdown -->
        <li class="dropdown">
            <button class="btn btn-primary btn-embossed dropdown-toggle" data-toggle="dropdown">Add<span class="caret"></span></button>
            <span class="dropdown-arrow"></span>
            <ul class="dropdown-menu dropdown-alerts">
              {{#if playlistCount}}
               {{#each playlists}}
                 <li>
                     <a class="playlist-dropdown" data-pid={{_id}} data-soundId={{../soundId}} role="menuitem" tabindex="-1" href="{{pathFor 'playlist'}}">{{name}}</a>
                 </li>
               {{/each}}
              {{else}}
                <li><a href='#'>No owned playlists</a></li>
              {{/if}}
                <li><a class='remove' data-trackId={{../_id}} href='#'>Remove track</a></li>
             </ul>
            <!-- /.dropdown-alerts -->
        </li>
        </ul>
    </div>
  </li>
</template>
