<template name="playlist">
  <div class="row underline">
      <div class="col-lg-12">
          <h1 class="page-header">{{name}}</h1>
            {{#if ownPlaylist}}
              <button type="button" class="btn btn-embossed btn-danger delete">Delete Playlist</button>
            {{/if}}
            {{#if isCollaborator}}
              <button type="button" class="btn btn-embossed btn-danger leave">Leave Playlist</button>
            {{/if}}
      </div>
      <!-- /.col-lg-12 -->
  </div>

  {{#if ownPlaylist}}
    <div class="row">
      <div class="col-lg-12">
        <div class="panel search">
            <div class="options">
              <button id='private' type="button" class="btn btn-primary option">Make Private</button>
            </div>
        </div>
      </div>
    </div>
  {{/if}}

  {{#if isCollaborator}}
    <div class="row">
      <div class="col-lg-12">
        <div class="panel search">
            <div class="options">
              <button id='tune' type="button" class="btn btn-primary option">Tune In</button>
            </div>
        </div>
      </div>
    </div>
  {{/if}}

  {{#unless isCollaborator}}
    {{#unless ownPlaylist}}
      <div class="row">
        <div class="col-lg-12">
          <div class="panel search panel-default box-shadow">
            <p>This is a private playist, the owner will have to accept your request to join.</p>
          </div>
        </div>
      </div>
    {{/unless}}
  {{/unless}}

  <div id='playlist' data-id="{{_id}}">
    {{#if trackCount}}
      {{#each tracks}}
        {{> track}}
      {{/each}}
    {{else}}
      No tracks have been added to this playlist yet.
    {{/if}}
  </div>
  <!-- /.row -->
</template>
