<template name="sound">
  <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default box-shadow">
            <div class="panel-body">
                <div class="track-name">
                  <img id="sound-logo" src="images/SoundCloud_Logo_white.svg" />
                  <a class="track-link" href="{{track_url}}"><h4 class="track-title">{{name}}</h4></a>
                </div>
                <div class="track-drop">
                <ul class="nav navbar-right">

                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Add<span class="caret"></span></button>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu dropdown-alerts">
                           {{#each playlists}}
                             <li>
                                 <a class="playlist-dropdown" data-pid={{_id}} data-soundId={{../soundId}} role="menuitem" tabindex="-1" href="{{pathFor 'playlist'}}">{{name}}</a>
                             </li>
                             <li class="divider"></li>
                           {{/each}}
                         </ul>
                        <!-- /.dropdown-alerts -->
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>
