<template name="friend">
  <div class="friend">
    <div class="profile-picture">
      <img class='profile' src="{{profilePhoto}}" />f
    </div>
    <div class="track-drop">
      <ul class="nav navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
            <button class="btn btn-primary dropdown-toggle friend-dropdown" data-toggle="dropdown">Join<br><span class="caret"></span></button>
            <span class="dropdown-arrow"></span>
            <ul class="dropdown-menu dropdown-alerts">
              {{#each playlists}}
                <li>
                    <a class="playlist-dropdown" data-pid={{_id}} data-soundId={{../soundId}} role="menuitem" tabindex="-1" href="{{pathFor 'playlist'}}">{{name}}</a>
                </li>
              {{/each}}
            </ul>
        </li>
      </ul>
    </div>
  </div>
</template>
